Projet BPEL/bpelContent/Compleexe.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://afak3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://afak3">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://afak3">
            <xs:element name="inscripB">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="apog" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inscripBResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="inscripBRequest">
        <wsdl:part name="parameters" element="ns:inscripB"/>
    </wsdl:message>
    <wsdl:message name="inscripBResponse">
        <wsdl:part name="parameters" element="ns:inscripBResponse"/>
    </wsdl:message>
    <wsdl:portType name="CompleexePortType">
        <wsdl:operation name="inscripB">
            <wsdl:input message="ns:inscripBRequest" wsaw:Action="urn:inscripB"/>
            <wsdl:output message="ns:inscripBResponse" wsaw:Action="urn:inscripBResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CompleexeSoap11Binding" type="ns:CompleexePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="inscripB">
            <soap:operation soapAction="urn:inscripB" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CompleexeSoap12Binding" type="ns:CompleexePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="inscripB">
            <soap12:operation soapAction="urn:inscripB" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CompleexeHttpBinding" type="ns:CompleexePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="inscripB">
            <http:operation location="inscripB"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Compleexe">
        <wsdl:port name="CompleexeHttpSoap11Endpoint" binding="ns:CompleexeSoap11Binding">
            <soap:address location="http://localhost:8081/LundiCompl/services/Compleexe.CompleexeHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CompleexeHttpSoap12Endpoint" binding="ns:CompleexeSoap12Binding">
            <soap12:address location="http://localhost:8081/LundiCompl/services/Compleexe.CompleexeHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CompleexeHttpEndpoint" binding="ns:CompleexeHttpBinding">
            <http:address location="http://localhost:8081/LundiCompl/services/Compleexe.CompleexeHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
